<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="assets/logo.jpg"
        alt="..."
      />
    </div>
    <div class="col-lg-5">
      <h1 class="font-weight-light">Universe's #1 Online Milfland</h1>
      <p>
      Over 1,000,000,000,000 milfs available <br>
          10,000 free access milfs every month <br>
          95% report milf benefits inclusive of all milf activities
      </p>
      <a class="btn btn-primary" href="#!">Expore Milfs!</a>
    </div>
  </div>
  <!-- Call to Action-->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0" style="font-size: x-large;">
    Get Milfs, Experience the power of Milfs, Get Ahead in Life
      </p>
    </div>
  </div>
</div>
