
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Free Trial Milfs</h2>
                        <p class="card-text">Duration: 2 months <br> Trial starts on click,explore the world of Milfs without paying a dime</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="">More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Exclusive Tier Milfs</h2>
                        <p class="card-text">Duration: monthly <br> Exclusive milfs just for you, literally at the tip of your fingers<br> Enjoy exclusive high tier milfs for a monthly subscription</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" 
                        href="
                    
                        "
                        >More Info</a></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Peak tier Milfs</h2>
                        <p class="card-text">Duration: monthly <br> 
                        The highest tiers of milfs you'll ever find, just for you <br> Requires diamond premium membership
                        </p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="">More Info</a></div>
                </div>
            </div>
        </div>
    <!-- </div> -->
